<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fr.radiofrance.alarm">

    <application>

        <activity android:name=".activity.AlarmActivity"/>

        <receiver
            android:name=".receiver.AlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="fr.radiofrance.alarm.ALARM_CLOCK_ACTION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>