<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fr.radiofrance.alarm">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>

        <activity
            android:name=".activity.AlarmActivity"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"/>

        <receiver
            android:name=".receiver.AlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="fr.radiofrance.alarm.ALARM_CLOCK_ACTION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>